*{
    box-sizing: border-box;
    width: 100%
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px blue;
}

.a{
    height: 75px;
    width: 100%;
    background-color: violet;
}

.b{
    height: 150px;
    width: 100%;
    background-color: #226584;
}

.c{
    height: 125px;
    width: 100%;
    background-color: #203094;
}

.d{
    height: 150px;
    width: 100%;
    background-color: #434600;
}

.e{
    height: 250px;
    width: 50%;
    background-color: #471584;
    float: left;
}

.f{
    height: 250px;
    width: 50%;
    background-color: #625584;
    
}
.g{
    height: 250px;
    width: 50%;
    background-color: #226584;
    float: left;
}

.h{
    height: 250px;
    width: 50%;
    background-color: #458584;
}

.i{
    height: 80px;
    width: 100%;
    background-color: #635248;
}

@media(min-width: 768px){

body{
    max-width: 960px;
    /* box-sizing: border-box; */
    margin: auto;
}

.a{
    height: 100px;
    background-color: yellow;

}
.b{
    height: 600px;
    width: 20%;
    background-color: #100566;
    float: left;
}

.c{
    height: 200px;
    width: 40%;
    background-color: #325471;
    float: left;
}
.d{
    height: 200px;
    width: 40%;
    background-color: #895471;
    float: left;

}

.e{
    height: 250px;
    width: 20%;
    background-color: #475471;
    float: left;

}
.f{
    height: 250px;
    width: 20%;
    background-color: red;
    float: left;

}
.g{
    height: 250px;
    width: 20%;
    background-color: violet;
    float: left;


}
.h{
    height: 250px;
    width: 20%;
}
.i{
    height: 150px;
    width: 80%

}
}