/* body{
    background-color: lightgray;
}
@media only screen and (max-width: 768px){
body{
    background-color: yellow;
}
}
.a{
width: 960px;
height: 100px;
border: 1px solid black;
}
.b{
    width: 200px;
    height: 600px;
    border: 1px solid black;

}
.c{
    width: 380px;
    height: 200px;
    border: 1px solid black;

}
.d{
    width: 380px;
    height: 200px;
    border: 1px solid black;

}
.e{
    width: 190px;
    height: 250px;
    border: 1px solid black;

}
.f{
    width: 190px;
    height: 250px;
    border: 1px solid black;

}
.g{
    width: 190px;
    height: 250px;
    border: 1px solid black;

}
.h{
    width: 190px;
    height: 250px;
    border: 1px solid black;

}
.i{
    width: 190px;
    height: 250px;
    border: 1px solid black;

} */